#container {
  min-height: calc(100vh - 36px);
  height: auto;
  padding-bottom: 0px;
}

#grid-wrapper {
  margin-top: 10px;
  padding-left: 0px;
}

#segment-container {
  margin-right: 10px;
  border-radius: 0px;
  height: calc(100vh - 60px);
  overflow-x: auto;
  overflow-y: auto;
  border-top: 1px solid #6435c9 !important;
}

.ui.grey.header {
  color: #1b1c1d !important;
  font-weight: lighter;
  font-size: 11pt;
}

.ui.grey.dividing.header {
  border-bottom: 0.5px solid #76767652;
}

#segment-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#segment-container::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

#segment-container::-webkit-scrollbar-thumb {
  background-color: #6536c8;
}
.ui .menu {
  border-radius: 0px;
}
